<h2>Find a friend</h2>

<div class="form-horizontal">

    <div class="row">

        <div class="form-group">
            <p class="control-label col-md-2">Search for a user name</p>
            <div class="col-md-3">
                <input type="text" class="form-control" value="">
            </div>
        </div>

        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
            <button type="submit" class="btn btn-primary hvr-icon-fade">Add to my friends</button>
        </div>
    </div>
</div>