
@{
    ViewBag.Title = "Change password";
}

<h2>Change password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2 required" for="pCurrentPassword">Current password</label>
            <div class="col-md-10">
                <input type="password" name="pCurrentPassword" placeholder="Current password" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 required" for="pNewPassword">New password</label>
            <div class="col-md-10">
                <input type="password" name="pNewPassword" placeholder="New password" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 required" for="pNewPassword2">New password again</label>
            <div class="col-md-10">
                <input type="password" name="pNewPassword2" placeholder="New password again" class="form-control" />
            </div>
        </div>


        <div class="form-group row text-center">
            <p class="control-label col-md-3">* = Compulsory fields</p>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </div>
    </div>
}