@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="jumbotron">
    <p>
        Carpool is  a website permitting you to organize trips with your neighbours. This will permit you to pay less money for your trips.
    </p>
    <p>
        Doing this have another effect, if you care about the environement, using this website will directly act on the environment by reducing the pollution created by every car user alone.
        Don't hesitate to speak about this website to your neighbourhood, it's a win-win situation for everyone so why not?
    </p>

    <p>
        This website was created by Nathanaël Omnes and Daniel Burke at the basis for university module in 2018.
    </p>
</div>